<nav>
  <ul>
    <li><a href="/">Alfons Mucha</a></li>
    <li><a href="/about">About the painter</a></li>
    <li><a href="/work">Painter work</a></li>
    <li><a href="/photogallery">Photo Gallery</a></li>
  </ul>
</nav>