<h1>About the painter</h1>
<p id="bio">Alfons Mucha est un artiste tchèque aux multiples facettes, symbole de la
  transition du milieu culturel entre le XIXe et le XXe siècle. 
  Peintre bien sûr, mais surtout illustrateur, architecte ou décorateur, il représente pour
  beaucoup la philosophie de la mouvance "art nouveau". 
  Alfons Mucha naît le 24 juillet 1860 dans une famille de notables implantés alors dans l'Empire
  autrichien. Curieusement, ce n'est pas par ses aptitudes sur toile qu'il se
  démarque le premier, mais par sa voix, qui le pousse à rejoindre Brno pour
  intégrer une chorale. Mais déjà à l'époque, le jeune artiste dessine beaucoup,
  et se prend d'affection pour les fresques des églises. Lorsque devenu
  greffier, il décide en 1875 de se vouer à l'art, les premiers temps sont
  difficiles. Refusé à l'Académie des beaux-arts de Prague, il déménage pour
  Vienne puis Munich, où il débute enfin sa formation en parallèle de ses
  premiers travaux. Ce choix finit par payer en 1889 lorsque, après deux années
  de formation supplémentaire, il est embauché par la maison d'édition Armand
  Colin. Ses qualités d'illustrateur s'affirment petit à petit, jusqu'au coup de
  projecteur de 1895 avec le succès de l'affiche pour "Gismonda" et Sarah
  Bernhardt. La fin des années 1890 consacre définitivement le talent de Mucha,
  décoré de la Légion d'honneur en 1900. Il quitte toutefois Paris en 1906 pour
  un séjour de quatre ans aux États-Unis. Désireux de s'affirmer en tant que
  peintre, c'est en revenant à l'illustration qu'il obtient des financements
  pour son plus grand projet : "L'épopée slave", des peintures gigantesques
  qu'il accomplira à Prague. Il y décède le 14 juillet 1939 d'une pneumonie.</p>